<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRTlhvahL6L4KDNiNa0B5gk_NzEi5ooDo</string>
	<key>GCM_SENDER_ID</key>
	<string>132383327423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.translate</string>
	<key>PROJECT_ID</key>
	<string>androidmobiletranslatejava22hj</string>
	<key>STORAGE_BUCKET</key>
	<string>androidmobiletranslatejava22hj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132383327423:ios:370546603cc360b47a320a</string>
</dict>
</plist>